.idea/
*.iml

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/sonar-report.xml

# production
/build
/dist

# misc
.DS_Store
src/index.css
*.log*
/src/react-app-env.d.ts
.eslintcache
/server/node_modules
.vscode
.dccache
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

#Bundle Analyzer
stats.html

#Yarn2
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
