.krav-periode-wrapper {
border-radius: 0.125rem;
    border: 1px solid #cdcecf;
    box-shadow: 5px 5px 5px 2px #f5f3f0;
    padding: 1rem;

    .legg-til-kronis-periode {
        margin: 0;
        padding-top: 0;
        padding-bottom: 1rem  ;
    }
}

.krav-kort-dato {
    display: grid;
    grid-template-columns: [col1] 25% [col2] 25% [col3] auto;
    grid-template-rows: [row1] auto;
    gap: 1rem;
    
    @media screen and (max-width: 1024px) {
        grid-template-columns: [col1] 50% [col2] auto;
    }
    
    @media screen and (max-width: 608px) {
        grid-template-columns: [col1] auto;
    }
}
.krav-kort {    
    display: grid;
    grid-template-columns: [col1] 25% [col2] 25% [col3] auto [col4] 25%;
    grid-template-rows: [row1] auto [row2] auto;
    gap: 1rem;
    
    @media screen and (max-width: 1024px) {
        grid-template-columns: [col1] 50% [col2] auto;
    }
    
    @media screen and (max-width: 608px) {
        grid-template-columns: [col1] auto;
    }
}

.krav-kort-dato,
.krav-kort {    
    .label-med-hjelp {
        display: flex;
        white-space: nowrap;

        span {
            white-space: break-spaces;
        }
    }

    &:first {
        background-color: blue;
    }
}

.veldig-lang-hjelpetekst .popover {
    @media screen and (min-width: 768px) {
        max-width: 60%;
    }
}

.dagesvarsel {
    margin-top: auto;
}

.kort-feilmelding-oppsumering {
    padding: 1rem 0;
}

.beregnet-refusjon {
    margin-top: 1rem;
}

.sykmeldingsgrad,
.antall-dager {
    max-height: 5rem;
}
