.kroniskkrav {
    .krav-padding-hjelpetekst {
        margin-left: 1rem !important;
    }

    .datoelement {
        width: 100%;
    }

    .kroniskkrav-datolabel {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .kroniskkrav-label-dato,
    .skjemagruppe .skjemaelement {
        margin-bottom: 0;
    }

    .avbrytknapp {
        margin-left: 1rem;
    }

    .sletteknapp {
        float: right;
    }

    // .navds-help-text {
    //     display: inline flow-root list-item;
    //     list-style-type: " ";
    // }

    .ingress {
        font-size: var(--a-font-size-large);
        font-weight: var(--a-font-weight-bold);
        line-height: var(--a-font-line-height-large);

        // .navds-help-text {
        //     display: inline-block;
        // }
    }
    
}

.kroniskkrav-modal {
    &-text {
        margin-bottom: 1rem;
        display: inline-block;
    }
    
    &-buttons {
        display: flex;
        justify-content: space-evenly;
    }

    .navds-modal__button {
        display: none;
    }
}
