.kroniskkrav {
    .krav-padding-hjelpetekst {
        margin-left: 1rem !important;
    }

    .datoelement {
        width: 100%;
    }

    .kroniskkrav-datolabel {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .kroniskkrav-label-dato,
    .skjemagruppe .skjemaelement {
        margin-bottom: 0;
    }

    .avbrytknapp {
        margin-left: 1rem;
    }

    .sletteknapp {
        float: right;
    }

    .ingress {
        font-size: var(--ax-font-size-large);
        font-weight: var(--ax-font-weight-bold);
        line-height: var(--ax-font-line-height-large);
    }
    
    .label-med-hjelp {
        display: flex;
        white-space: nowrap;

        span {
            white-space: break-spaces;
        }
    }

    .krav-kort-wrapper {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
}

.kroniskkrav-modal {
    &-text {
        margin-bottom: 1rem;
        display: inline-block;
    }
    
    &-buttons {
        display: flex;
        justify-content: space-evenly;
    }

    .navds-modal__button {
        display: none;
    }
}
