.textarea-min-hoyde {
    min-height: 185px;
    width: 100%;
}

.knapp-innsending-top {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.textfelt-padding-bottom {
    padding-bottom: 1rem;
}

.textfelt-padding-top {
    padding-top: 1rem;
}

.textfelt-padding-dobbel-bottom {
    padding-bottom: 2rem;
}
