@import "./src/variabler.sass";

.gravid-side {
    .arbeidsmiljo-ingress ul {
        margin-top: 0;
    }

    .gravidside-panel-tiltak,
    .gravidside-panel-arbeidssituasjon {
        padding-bottom: 0;
    }

    .skjemagruppe.radiogruppe.gravidside-radiogruppe-tilrettelegging {
        margin-bottom: 0;
    }

    .gravidside-panel-ansatte {
        padding-bottom: 0.5rem;
    }
    
    .gravid-side-radiogruppe-omplassering {
        margin-top: 1rem;
        
        > .skjemagruppe.radiogruppe {
            margin-bottom: 0;

            .skjemagruppe.radiogruppe {
                margin-bottom: 0;
            }
        }
    }

    .gravidside-lenke-knapp,
    .gravidside-lenke-knapp:active {
        display: run-in;
        border: none;
        margin: 0;
        padding-right: 0;
        background: transparent;
        color: $navBla !important;
        text-decoration: underline;
    }

    .gravideside-radiogruppe-indentert {
        margin-left: 1rem !important;
    }

    .termindato {
        padding-top: 1rem;
        width: 100%;
    }
}
