@import "./src/variabler.sass";

.gravidside-tett-liste {
    margin-top: 0;
}

.gravidside-lenke-knapp,
.gravidside-lenke-knapp:active {
    display: run-in;
    border: none;
    margin: 0;
    padding-right: 0;
    background: transparent;
    color: $navBla !important;
    text-decoration: underline;
}

.gravideside-radiogruppe-indentert {
    margin-left: 1rem !important;
}
