@import "./src/variabler.sass";

.gravid-side {
    .gravidside-tett-liste {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .gravidside-alert-gravid {
        margin-top: 2rem;
    }

    .gravid-side-radiogruppe-omplassering {
        margin-top: 1rem;
    }

    #gravidside-panel-ansatte {
        padding-bottom: 0;
    }

    .gravidside-lenke-knapp,
    .gravidside-lenke-knapp:active {
        display: run-in;
        border: none;
        margin: 0;
        padding-right: 0;
        background: transparent;
        color: $navBla !important;
        text-decoration: underline;
    }

    .gravideside-radiogruppe-indentert {
        margin-left: 1rem !important;
    }
}
