.gravidkrav {
    .krav-padding-hjelpetekst {
        margin-left: 1rem;
        position: absolute;
    }

    .datoelement {
        width: 100%;
    }

    .gravidkrav-datolabel {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .gravidkrav-label-dato,
    .skjemagruppe .skjemaelement {
        margin-bottom: 0;
    }

    .not-first-row .skjemaelement__label,
    .not-first-row .skjemaelement .skjemaelement__label,
    .not-first-row .hjelpelabel > .hjelpetekst,
    .not-first-row .hjelpetekst-refusjon  > .hjelpetekst {
        display: none;
    }

    .first-row .slett-knapp {
        margin-top: 2rem;
    }

    .avbrytknapp {
        margin-left: 1rem;
    }

    .sletteknapp {
        float: right;
    }

    .navds-help-text {
        display: inline flow-root list-item;
        list-style-type: " ";
    }
}
