.fileinput
  display: none

.filknapp
  margin: 1rem 0
  width: 100%
  overflow: hidden

.filknapp[disabled]
  pointer-events: none

.upload-filnavn
  display: inline-block
  white-space: nowrap
  width: 10rem
  overflow: hidden
  text-overflow: ellipsis
  vertical-align: sub

.upload-delete
  margin-left: 1rem

@media (min-width: 992px)
  .filknapp
    width: auto

