.side {
  padding-bottom: 4rem;
  background-color: #f1f1f1;
  
  
  .side__innhold {
    background-color: #ffffff;
    padding: 0;
  }
  
  .side__breadcrumb {
    padding: 0;
  }
  
  .container {
    max-width: 100%;
  }
  
  .side__minside_arbeidsgiver {
    padding: 1rem 3rem
  }
}


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container::before,
.container::after {
  content: " ";
  display: table;
}
.container::after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 736px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 956px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1156px;
  }
}
