.side {
  padding-bottom: 4rem;
  background-color: #f1f1f1;
  --a-spacing-1: 0.2rem;
  --a-spacing-2: 0.3rem;
  --a-spacing-3: 0.4rem;
  --a-spacing-4: 0.5rem;
  --a-spacing-5: 0.6rem;
  --a-deepblue-700: #003087;
  --a-deepblue-900: #00214d;  
  --a-gray-300: #c6c6c6;
  --a-white: #ffffff;
  --a-bg-subtle: #f1f1f1;
  --a-bg-default: #ffffff;
  --a-border-radius-small: 4px;
  --a-border-radius-medium: 8px;
  --a-surface-action-subtle: #f1f1f1;

  
  .side__innhold {
    background-color: #ffffff;
    padding: 0;
  }
  
  .side__breadcrumb {
    padding: 0;
  }
  
  .container {
    max-width: 100%;
  }
  
  .side__minside_arbeidsgiver {
    padding: 1rem 3rem
  }
}


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container::before,
.container::after {
  content: " ";
  display: table;
}
.container::after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 736px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 956px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1156px;
  }
}
