@import "./src/variabler.sass"

.fravaer-tabell
  margin: 1rem 0 0
  border: 1px solid rgba(0,0,0,.55)
  border-collapse: collapse
  th
    border: 1px solid rgba(0,0,0,.55)
    padding: 1rem
  tr:nth-child(1)
    th
      background-color: $tabellGra
      color: white
      text-align: center
      font-weight: bold
      border-right: 2px solid white
    th:last-child
      border-right: 1px solid black
  tr:nth-child(2)
    th
      background-color: orange
      color: black
      text-align: center
  .skjemaelement__label
    display: none
  input
    width: 100% !important
    border: none
    margin: 0 !important
    background: transparent !important
    text-align: center
  td
    text-align: center !important
    width: 12.5%
    padding: 0rem 1rem !important
    border: 1px solid black
  .empty-month
    background-color: #dddddd !important

  tbody tr:nth-child(odd):not(.tabell__tr--valgt) td, tbody tr:nth-child(odd):not(.tabell__tr--valgt) th 
    background: rgba(0,0,0,.03)
    
