.typo-normal.luft-under {
    margin-bottom: 1rem;
}

@media print {
    #decorator-header,
    #decorator-footer,
    .skjul-fra-print,
    .bedriftsmeny,
    .side__minside_arbeidsgiver > .lenke,
    .lenker-ut-panel {
        display: none !important;
    }
    .side {
        padding: 0 !important;
    }
}
