@import "./src/variabler.sass";

.kronisk-side {

    .kroniskside-tett-liste {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .kronisk-side-radiogruppe-omplassering {
        margin-top: 1rem;
    }

    #kroniskside-panel-ansatte {
        padding-bottom: 0;
    }

    #kroniskside-panel-arbeidssituasjon {
        padding-bottom: 0;

        .kroniskside-arbeidsmiljo-ingress {
            margin-bottom: 2rem;
            display: inline-block;
        }
    }

    label[for="textarea-annet"] {
        display: none;
    }

    .kroniskside-lenke-knapp,
    .kroniskside-lenke-knapp:active {
        display: run-in;
        border: none;
        margin: 0;
        padding-right: 0;
        background: transparent;
        color: $navBla !important;
        text-decoration: underline;
    }

    .kroniskeside-radiogruppe-indentert {
        margin-left: 1rem !important;
    }

    #textarea-annet {
        min-height: 185px;
    }
    
    .skjemagruppe.checkboxgruppe .skjemaelement.textarea__container {
        margin-bottom: 0;
    }

}
