name: End-to-End Tests
on: [push]

jobs:
  test:
    name: Run TestCafe Tests
    runs-on: windows-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v1
      - run: yarn install --frozen-lockfile
      - name: Run tests
        uses: DevExpress/testcafe-action@latest
        with:
            skip-install: true
            args: chrome tests/ --concurrency 4 --app-init-delay 60000 --app "yarn serve"
